/* CSS */
.navbar-brand{
padding-top:5px;
padding-left:0px;
}

.logo{
height: 40px;
padding-right: 35px;
padding-left: 2px;
}



section.features-section {
  
  background: #F4F6F7;
  color: #000000;
  padding: 15px;
  height: 450px;
  border-radius: 8px;
}

